@media screen and (max-width: 560px)  {
    

    #hero{
        background: url(../img/Group\ 2@2x.png) 45% top no-repeat;
        background-size: cover;
        background-position: left;
    }
    #hero h2 {
        font-size: 2.5rem;
        line-height: 36px;
        margin-top: 47% !important;
        margin: auto;
    }
    #hero .hero-img {
        margin-top: 70%;
        height: 50%;
        width: 35%;
    }
    .hero-illus{
        position: absolute;
        top: 80%;
        left: 20%;
        transform: translate(-50%,-50%);
 
    }

    .hero-decp{
        
        width: 95%;
}
    .second-title {
        font-size: 1rem;
        top: 10%;
    }
    .card{
        height: 80%;
        margin: 5% auto;
    }
    .hero-logo{
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
    }

    .contact-about {
        margin-top: 0;
    }
    .contact-about {
        margin-top: 0;
        text-align: center;
    }
    .info {
        margin-top: 0;
        margin-left: 0;
    }
    #contact .contact-about h3{
        margin: auto auto 5% auto;
    }

    #contact .contact-about h3{
        font-size: 1.5rem;
    }
    #contact {
        padding: 5% 0;
    }
    .second-title{
        padding-left: 0;
    }

}
@media screen and (max-width: 840px)  {
    .toggle-text{
        display: block;
    }
    .wrapper{
        display: none;
    }
    .hero-logo{
        display: none;
    }
    .hero-illus{
        left: 55%;
        
    }
}
@media screen and (max-width: 1177px)  {
    .hero-logo{
        width: 200px;
    }
}